<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - Nathan Santos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">NS</div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">Sobre</a></li>
                    <li><a href="{{ url_for('projects') }}">Skills</a></li>
                    <li><a href="{{ url_for('projects') }}">Portfólio</a></li>
                    <li><a href="{{ url_for('contact') }}">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section id="contact">
            <div class="container">
                <h2>Contato</h2>
                <form>
                    <label for="name">Nome:</label>
                    <input type="text" id="name" name="name">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email">
                    <label for="message">Mensagem:</label>
                    <textarea id="message" name="message"></textarea>
                    <button type="submit" class="btn">Enviar</button>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Nathan Santos. Todos os direitos reservados.</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
